@model Booking_MVC.Models.ReservationViewModel

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idReservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idReservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checkOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkOutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
